
:root {
  /* Colors */
  --biru: linear-gradient(
    180deg,
    rgba(137, 247, 254, 1) 0%,
    rgba(102, 166, 255, 1) 100%
  );

  /* Fonts */

  /* Effects */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
  .nav,
  .nav * {
    box-sizing: border-box;
  }
  .nav {
    background: #ffffff;
    width: 1280px;
    height: 686px;
    position: relative;
    overflow: hidden;
  }
  .bgnav {
    width: 1578.08px;
    height: 739px;
    position: absolute;
    left: -1px;
    top: 49px;
  }
  .lalu-kurnia-m-ridho {
    color: #000000;
    text-align: left;
    font: 600 40px "Montserrat", sans-serif;
    position: absolute;
    left: 134.33px;
    top: 320.58px;
    width: 556px;
  }
  .ui-ux-designer {
    color: var(
      --biru,
      linear-gradient(
        180deg,
        rgba(137, 247, 254, 1) 0%,
        rgba(102, 166, 255, 1) 100%
      )
    );
    text-align: left;
    font: 600 48px "Poppins", sans-serif;
    position: absolute;
    left: 134.33px;
    top: 374.58px;
    width: 539.55px;
  }
  .bgfoto {
    width: 479px;
    height: 420px;
    position: absolute;
    left: 690px;
    top: calc(50% - 232px);
  }
  .fotosaya-1 {
    width: 350px;
    height: 355.53px;
    position: absolute;
    left: 770px;
    top: 128px;
  }
  .hi-i-m {
    color: #000000;
    text-align: left;
    font: 400 36px "Montserrat", sans-serif;
    position: absolute;
    left: 134.33px;
    top: 275.58px;
    width: 183.65px;
  }
  .garisbawahcv {
    position: absolute;
    left: 575.26px;
    top: 521px;
    transform: translate(-454.26px, 0px);
    overflow: visible;
  }
  .vector {
    position: absolute;
    left: 788px;
    top: 459px;
    overflow: visible;
  }
  .vector2 {
    position: absolute;
    left: 852.4px;
    top: 641px;
    overflow: visible;
  }
  .rectangle-1 {
    background: var(
      --biru,
      linear-gradient(
        180deg,
        rgba(137, 247, 254, 1) 0%,
        rgba(102, 166, 255, 1) 100%
      )
    );
    border-radius: 10px;
    border-width: 0px;
    border-style: solid;
    border-image: linear-gradient(
      180deg,
      rgba(137, 247, 254, 1) 0%,
      rgba(103, 167, 255, 1) 100%
    );
    border-image-slice: 1;
    width: 200px;
    height: 55.11px;
    position: absolute;
    left: 134.33px;
    top: 446.58px;
  }
  .download-cv {
    color: #ffffff;
    text-align: left;
    font: 600 20px "Montserrat", sans-serif;
    position: absolute;
    left: 164.33px;
    top: 462.58px;
    width: 287px;
  }
  .kubus {
    position: absolute;
    left: 206.75px;
    top: 231.06px;
    transform: translate(-72.64px, -28.68px);
    overflow: visible;
  }
  .kubus2 {
    position: absolute;
    left: 443.08px;
    top: 475.64px;
    transform: translate(-72.64px, -28.68px);
    overflow: visible;
  }
  .bungkusnavbar {
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-image: var(
      --biru,
      linear-gradient(
        180deg,
        rgba(137, 247, 254, 1) 0%,
        rgba(102, 166, 255, 1) 100%
      )
    );
    border-image-slice: 1;
    width: 1281px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
  }
  .logo {
    text-align: left;
    font: 700 24px "Poppins", sans-serif;
    position: absolute;
    left: 110px;
    top: 5px;
    width: 97.46px;
    height: 42.6px;
  }
  .logo-span {
    color: #000000;
    font: 700 24px "Poppins", sans-serif;
  }
  
  .navbar{
    color: #000000;
    text-align: left;
    font: 700 20px "Poppins", sans-serif;
    position: absolute;
    left: 800px;
    top: 6px;
    width: 76.72px;
    height: 31.95px;
    display: flex;
    gap: 28px;
  }
  .logo span .logo-span{
    color: black;
  }
  .logo span .logo-span2{
    background-image: linear-gradient(to right,  rgba(137, 247, 254, 1) 0%, rgba(103, 167, 255, 1) 100%);
    -webkit-background-clip: text; /* Untuk browser berbasis WebKit seperti Chrome dan Safari */
    -moz-background-clip: text; /* Untuk browser berbasis Mozilla Firefox */
    background-clip: text;
    color: transparent;
    font: 700 24px "Poppins", sans-serif;
  }
  .bungkusnavbar .navbar a{
    color: black;
  }
  .navbar a:hover{
    color: aqua;
  }
  .navbar a:first-child:active{
    color: aqua;
  }
  



  .mac-book-air-5,
.mac-book-air-5 * {
  box-sizing: border-box;
}
.mac-book-air-5 {
  background: #383838;
  width: 1280px;
  height: 739px;
  position: relative;
  overflow: hidden;
}
.bgshape {
  width: 581px;
  height: 460px;
  position: relative;
  left: 59px;
  top: 150px;
}
.rectangle-40 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  width: 455px;
  height: 375px;
  position: absolute;
  left: 721px;
  top: 199px;
  box-shadow: 25px 30px 70px -20px rgba(112, 111, 111, 1);
}
.halo-saya-lalu-kurnia-muhammad-ridho-seorang-ui-ux-designer-dengan-kecintaan-yang-mendalam-dalam-desain-ui-ux-grafis-web-dll-saya-percaya-bahwa-desain-memiliki-kekuatan-untuk-menciptakan-pengalaman-yang-luar-biasa-dan-memengaruhi-cara-orang-berinteraksi-dengan-dunia-di-sekitar-mereka {
  color: #000000;
  text-align: justified;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 737px;
  top: 238px;
  width: 423px;
  height: 334px;
  
}
#about {
  color: #ffffff;
  text-align: justified;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: 721px;
  top: 137px;
}
.vector {
  position: absolute;
  left: 531px;
  top: 291.35px;
  transform: translate(3.02px, -81.11px);
  overflow: visible;
}
.vector2 {
  position: absolute;
  left: 1122px;
  top: 172.19px;
  transform: translate(13.67px, -59.66px);
  overflow: visible;
}
.vector3 {
  position: absolute;
  left: 482px;
  top: 209.38px;
  transform: translate(0px, -97.78px);
  overflow: visible;
}
.vector4 {
  position: absolute;
  left: 533.7px;
  top: 161.11px;
  transform: translate(0px, -54.46px);
  overflow: visible;
}
.vector5 {
  position: absolute;
  left: 533.7px;
  top: 222.99px;
  transform: translate(0px, -54.46px);
  overflow: visible;
}
.fotosaya2 {
  width: 473px;
  height: 630px;
  position: absolute;
  left: 117px;
  top: -85px;
  overflow: auto;
}
.vector6 {
  position: absolute;
  left: 309.81px;
  top: 579.11px;
  transform: translate(0.15px, -5.89px);
  overflow: visible;
}
.vector7 {
  position: absolute;
  left: 178px;
  top: 499.5px;
  transform: translate(0.61px, -26.87px);
  overflow: visible;
}
.vector8 {
  position: absolute;
  left: 246px;
  top: 489.04px;
  transform: translate(0.39px, -8.36px);
  overflow: visible;
}
.vector9 {
  position: absolute;
  left: 763px;
  top: 619px;
  overflow: visible;
}
._1 {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.35) 100%
  );
  border-image-slice: 1;
  width: 93.68px;
  height: 93.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._2 {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.35) 100%
  );
  border-image-slice: 1;
  width: 93.68px;
  height: 93.68px;
  position: absolute;
  left: 105.39px;
  top: 13.66px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
._3 {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.35) 100%
  );
  border-image-slice: 1;
  width: 93.68px;
  height: 93.68px;
  position: absolute;
  left: 23.42px;
  top: 27.32px;
}





.mac-book-air-7,
.mac-book-air-7 * {
  box-sizing: border-box;
}
.mac-book-air-7 {
  background: #ffffff;
  width: 1280px;
  height: 712px;
  position: relative;
  overflow: hidden;
}
.rectangle-45 {
  background: #ffffff;
  border-radius: 30px;
  width: 362px;
  height: 385px;
  position: absolute;
  left: 72px;
  top: 212px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    1px 8px 50px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-42 {
  border-radius: 30px;
  width: 362px;
  height: 238px;
  position: absolute;
  left: 72px;
  top: 212px;
}
.rectangle-46 {
  background: #ffffff;
  border-radius: 30px;
  width: 364px;
  height: 385px;
  position: absolute;
  left: 457px;
  top: 212px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
  1px 8px 50px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-43 {
  border-radius: 30px;
  width: 362px;
  height: 238px;
  position: absolute;
  left: 459px;
  top: 212px;
}
#project {
  text-align: justified;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 97px);
  top: 85px;
}
.my-project-span {
  color: #66a6ff;
  font: 700 40px "Poppins", sans-serif;
}
.my-project-span2 {
  color: #000000;
  font: 700 40px "Poppins", sans-serif;
}
.rectangle-47 {
  background: #ffffff;
  border-radius: 30px;
  width: 362px;
  height: 385px;
  position: absolute;
  left: 846px;
  top: 212px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    1px 8px 50px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-44 {
  border-radius: 30px;
  width: 362px;
  height: 238px;
  position: absolute;
  left: 846px;
  top: 212px;
}
.website-design {
  text-align: justified;
  font: 700 40px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 91px;
  top: 463px;
  width: 288px;
}
.website-design-span {
  color: #66a6ff;
  font: 700 40px "Montserrat Alternates", sans-serif;
}
.website-design-span2 {
  color: #000000;
  font: 700 40px "Montserrat Alternates", sans-serif;
}
.design-app-mobile {
  text-align: justified;
  font: 700 40px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 482px;
  top: 463px;
}
.design-app-mobile-span {
  color: #000000;
  font: 700 40px "Montserrat Alternates", sans-serif;
}
.design-app-mobile-span2 {
  color: #66a6ff;
  font: 700 40px "Montserrat Alternates", sans-serif;
}
.poster-design {
  text-align: justified;
  font: 700 40px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 855px;
  top: 463px;
}
.poster-design-span {
  color: #66a6ff;
  font: 700 40px "Montserrat Alternates", sans-serif;
}
.poster-design-span2 {
  color: #000000;
  font: 700 40px "Montserrat Alternates", sans-serif;
}
.ellipse-4 {
  position: absolute;
  left: 457.12px;
  top: 78px;
  overflow: visible;
}
.ellipse-7 {
  position: absolute;
  left: 434px;
  top: 101.12px;
  overflow: visible;
}
.ellipse-5 {
  position: absolute;
  left: 443.05px;
  top: 87.05px;
  overflow: visible;
}
.ellipse-6 {
  position: absolute;
  left: 443.05px;
  top: 87.05px;
  overflow: visible;
}
.ellipse-42 {
  position: absolute;
  left: 816.12px;
  top: 78px;
  overflow: visible;
}
.ellipse-72 {
  position: absolute;
  left: 793px;
  top: 101.12px;
  overflow: visible;
}
.ellipse-52 {
  position: absolute;
  left: 802.05px;
  top: 87.05px;
  overflow: visible;
}
.ellipse-62 {
  position: absolute;
  left: 802.05px;
  top: 87.05px;
  overflow: visible;
}





.mac-book-air-4,
.mac-book-air-4 * {
  box-sizing: border-box;
}
.mac-book-air-4 {
  background: #383838;
  width: 1288px;
  height: 743.62px;
  position: relative;
  overflow: hidden;
}
#contact {
  color: #ffffff;
  text-align: justified;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 84px);
  top: 53px;
}
.ways-to-contact-me {
  text-align: justified;
  font: 700 64px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 336px);
  top: 113px;
}
.ways-to-contact-me-span {
  color: #ffffff;
  font: 700 64px "Poppins", sans-serif;
}
.ways-to-contact-me-span2 {
  color: #66a6ff;
  font: 700 64px "Poppins", sans-serif;
}
.ways-to-contact-me-span3 {
  color: #ffffff;
  font: 700 64px "Poppins", sans-serif;
}
.ways-to-contact-me-span4 {
  color: #66a6ff;
  font: 700 64px "Poppins", sans-serif;
}
.silakan-hubungi-saya-untuk-pertanyaan-kerjasama-atau-informasi-lebih-lanjut {
  color: #ffffff;
  text-align: center;
  font: 700 20px "Poppins", sans-serif;
  position: absolute;
  left: 434px;
  top: 209px;
}
.rectangle-48 {
  background: #ffffff;
  border-radius: 10px;
  width: 208px;
  height: 50px;
  position: absolute;
  left: 284px;
  top: 370px;
}
._08983204049 {
  color: #000000;
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 343px;
  top: 388px;
}
.rectangle-49 {
  background: #ffffff;
  border-radius: 10px;
  width: 208px;
  height: 50px;
  position: absolute;
  left: 510px;
  top: 370px;
}
.laluridhoo {
  color: #000000;
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 569px;
  top: 388px;
}
.rectangle-50 {
  background: #ffffff;
  border-radius: 10px;
  width: 259px;
  height: 50px;
  position: absolute;
  left: 736px;
  top: 370px;
}
.lalukurnia-22-gmail-com {
  color: #000000;
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 795px;
  top: 388px;
}
.gmail {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 750px;
  top: 375px;
}
.rectangle-51 {
  background: #ffffff;
  width: 1280px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 683px;
}
.copyright-2023-lalu-kurnia {
  color: #000000;
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 107px);
  top: 701px;
}
.instagram {
  width: 38.24px;
  height: 38.24px;
  position: absolute;
  left: 524px;
  top: 378px;
}
.whatsapp {
  width: 38.24px;
  height: 38.24px;
  position: absolute;
  left: 296px;
  top: 378px;
}
.container{
  width: 1290;
  height: 2867;
  position: relative;
}

